.form-auth {
  max-width: 330px;
  padding: 15px;
  border: 1px solid #ccc;

}

body {
    height: 100%;
}


.form-auth input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-auth input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
